/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test */
    /* border: 1px red solid;    */
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
} 
.app-wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.upgrade-bar{
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}

/* BUTTON */
.upgrade-button{
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    padding: 10px 30px;
    position: fixed;
    top: 20px;
    right:15px;
    font-size: small;
    font-weight: bold;
}
.upgrade-button:hover{
    transform: scale(1.1); 
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    display: flex;
}
main > * {
    flex-shrink: 0;
    flex-grow: 0;
}

/* Main nav */
.main-nav{
    height: 100%;
    width: 250px;
    min-height: 400px; 
    display: flex;
    flex-direction: column;
}

/* Logo */
.logo{
    min-height: 100px;
    padding: 0 20px;
    color: white;
}
#logo{
    /* width: 100%; */
    height: 100%; 
    vertical-align: middle;
}
#logo-small{
    width: 50px;
    padding:  10px;
    display: none;
}

/* Actions */
.nav-actions{
    font-size: small;
    font-weight: bold;
    color:#dcdcdc;
    margin: 20px 0; 
}
.nav-actions ul{
    list-style-type: none;
}
.nav-actions li{
    padding: 0 20px;
}
.nav-actions img{
    width: 35px;
    vertical-align: middle;
    padding: 5px 0;
}
.nav-actions li:hover{
  border-left: 4px solid #9ee92b ;
  color: white;
}

/* Playlist */
.nav-playlist{
    padding: 0 20px;
    overflow:hidden;
    flex-grow: 1;
}
.nav-playlist h3{
    color:white;
    font-size: 16px;
    margin-bottom: 15px;
}
.nav-playlist .new-playlist{
    margin: 15px 0;
    display: flex;
    align-items: center;
    color: #dcdcdc;  
}
.nav-playlist .new-playlist .fas{
    font-size: 35px;
    padding-right: 10px;
}
.nav-playlist .new-playlist:hover{
    color: white;
}
.nav-playlist .playlist{
    list-style-type: none;
    margin-top: 15px;
    height: 100%;
    overflow-y: auto;
    color: #dcdcdc;
}
.nav-playlist li{
    padding-bottom: 15px;
    font-size: small;
}
.nav-playlist li:hover{
    color: white;
}

/* Playlist */
.user {
    padding: 0 20px;
    font-size: small;
    font-weight: bold;  
}
.user .download-app img{
    width: 17px;
    vertical-align: middle;
    margin-right: 10px;
}
.user .delineator{
    border-top: 2px solid #a3a3a3;
}
.user .user-name img{
    width: 30px;
    vertical-align: middle;
    background-color: #a3a3a3;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
}
.user .user-name {
    font-size: bold;
    padding: 10px 0;
    color: white;
}
.user .download-app {
    padding: 10px 0;
    color: #dcdcdc;   
}
.user .download-app:hover{
    color: white;
}

/* Main content */
.main-content{
    height: 100%;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
    background-color: #141922;
}

/* Category */
.content-category{
    list-style-type: none;
    font-size: small ;
    font-weight: bold;
    color:#a3a3a3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-category > *{
    margin: 20px 10px;
}
.content-category li:hover{
    border-bottom: 4px solid #9ee92b ;
    color: white;
}

/* Row */
.row{
    margin: 0 20px;
    
}

.row .row-title{
    color: white;
    font-size: x-large;
}
.row .row-subtitle{
    color:#a3a3a3;
    font-size:x-small ;
}


.row-content{
    margin: 15px 0 30px ;
    
    display: flex;
    /* justify-content: flex-start;  */
    flex-wrap: wrap; 
    /* gap: 5% ; */
}
.row-content > * {
    
    /* height: 100%; */
    /* width: calc((100% / 6) - 20px);  */
    /* margin-right: 20px; */
     
    
    


    /* display: flex; */
    
}

/* Cover */
.cover {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   */
   

    /* height: 100%; */

    
    
    
    
    
    
    
}


.cover .cover-img{
    /* flex-grow: 0; */
    

   
    
    
    vertical-align: middle;
    
    


    background-size:contain;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    

    /* test */
    /* width: 150px;
    height: 150px; */
}



.cover .cover-img:hover{
    filter: grayscale(0.5)
}


.cover .cover-img .far{
    color: white;

    
    display: none; 
   
    /* test */
    font-size: 100px;

}

.cover-img img{
    vertical-align: middle;
}

.popolari img{
    border-radius: 50%;
}



.cover-info{
   
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.cover-info .cover-title{
    color: white;
    font-weight: bold;
}

.cover-info .cover-subtitle{
    color: #dcdcdc;
    font-size: x-small;
}

/* Cover images */
/* .heavy-metal .cover .cover-img{
    background-image: url("../img/metal_lifting.jpg");
}
.stranger-things .cover .cover-img{
    background-image: url("../img/stranger.jpeg");
}
.quite-place .cover .cover-img{
    background-image: url("../img/aquietplace.jpeg");
}
.split .cover .cover-img{
    background-image: url("../img/split.jpeg");
}
.cure-for-wellness .cover .cover-img{
    background-image: url("../img/cure.jpeg");
}
.sinister .cover .cover-img{
    background-image: url("../img/sinister.jpeg");
} */












@media screen and (max-width:1100px){

    /* test */
    .app-wrapper{
        background-color:darkolivegreen ;
    }
}
 
@media screen and (max-width:700px){

    /* test */
    .app-wrapper{
        background-color:darkcyan ;
    }
}

@media screen and (max-width:600px){
    
    .main-nav{
        width: 50px;
    }

    .main-content{
        height: 100%;
        width: calc(100% - 50px);
    }

    .upgrade-bar{
        width: calc(100% - 50px);
    }

    .logo{
        padding: 0;
    }
 
    #logo{
        display: none;  
    }
    #logo-small{
        display: block;
    }

    .nav-actions li{
        padding: 6px ;
    }
    .nav-actions li img{
        width: 100%;
    }
    .nav-actions li span{
        display: none ;
    }

    .nav-playlist h3,
    .nav-playlist .new-playlist, 
    .nav-playlist .playlist{
        display: none;
    }

    .user{
        padding:0;
        text-align: center;
    }

    .user .download-app img,
    .user .user-name img{
        margin-right: 0;
        padding:0;
    }

    .user .download-app span,
    .user .delineator,
    .user .user-name span{
        display: none;
    }





    /* test */
    .app-wrapper{
        background-color:darkturquoise ;
    }
} 

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #282828; 
    display: flex;
    justify-content: space-between;
}

/* Common class */
.bar-below{
    background-color: #a3a3a3;
    border-radius: 50px;
    height: 4px;
    overflow: hidden;
}
.bar-above{
    height: 100%;
    background-color:white;
    border-radius: 50px;
}

/* Col left */
.listening{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

.song{
    display: flex;
    align-items: center;
}
.song-img{
    width: 60px; 
    margin-right: 5px;
}
.song-img img{ 
    vertical-align: middle;    
}
.song-info{
    margin-left: 5px;
    margin-right: 15px;
}
.song-info #song-name{
    font-size: small;
    color: white
}
.song-info #band{
    font-size: x-small;
    color: #a3a3a3;
}

.song-lists{
    color: white;
    margin-left: 15px;
}
.song-lists * {
    margin: 1px 5px;
}



/* Col center */
.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player .main-commands{
    color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .main-commands .fas{
    font-size: 20px;      
}
.player .main-commands .far{
    font-size: 30px; 
    padding: 0 5px ;     
}
.player .main-commands * {
    margin: 0 15px;
}
.player .timeline{
    font-size: x-small;
    color: white;
    display: flex;
    align-items: center;
}

.timeline span{  
    margin: 0 20px;
}
.timeline .timeline-below {
    width: 350px;
}
.timeline .timeline-above {
    width: 30%;
}

/* Col right */
.settings{
    display: flex;
    align-items: center;
}
.settings .secondary-commands{
    color: #dcdcdc ;
    font-size: small;
    display: flex;
    flex-wrap: nowrap;
}
.settings .secondary-commands *{
    margin: 10px;
}

.volume{
    margin-right: 20px;
    margin-left: 10px;
}
.volume .volume-below{
    width: 100px;
}
.volume .volume-above{
    width: 25%;
}


